
.button{
    -fx-text-fill: BLACK;
    -fx-alignment: center;
    -fx-background-color: #E76F51;
}

.button:hover{
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
    -fx-border-radius: 5em;
    -fx-background-size: 90%;
}

#btnCancelar{
-fx-background-color: #ACACAC;
}


#root_pane{
    -fx-background-color: white;
    -fx-background-radius: 18 18 18 18;
    -fx-border-radius: 18 18 18 18;
    -fx-border-color: #ACACAC;
    -fx-border-width: 5;
}

#pane_cont{
-fx-background-color:white;
-fx-background-radius: 18 18 18 18;
-fx-border-radius: 18 18 18 18;
}

/*TODO ESTILO SIABLE EN VEZ DE SETSTYLE A PELO*/
.disable{
    -fx-background-color: white , white , white;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 0 0 3 0;
}


