
.imagen-marca {
    -fx-background-image : url('../icons/close-icon.png');
}

.close {
    -fx-background-image : url('../icons/close-icon.png');
    -fx-background-color: transparent;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.close:hover {
    -fx-cursor: hand;
}