
#toptop{
-fx-background-color: transparent;
}

/*TODO BUSCAR DONDE ESTA LA LINEA GRIS QUE IDIVDE LAS DOS TABLAS (QUIZAS CODIGO ADD O QUIZAS AQUI)*/
#root_pane{
-fx-background-color: transparent;
    -fx-border-color: green;
    -fx-border-width:0px;

}
